- var root = '';
include ./includes/head.jade
body
	header
		#headerTop
			.gridD
				.social-links
					i.fa.fa-facebook
					i.fa.fa-youtube
					i.fa.fa-instagram
				.search
					form
						input(type="text", name="search", placeholder="Digite o que você procura")
				.ao-vivo
					a(href="#") Ao Vivo
				.clearfix
		#menu
			.gridD
				.logoMain
					img(src="assets/img/logoMain.png", alt="")
				nav
					ul
						li
							a(href="#") A OBRA OPBC
						li
							a(href="#") PROGRAMAÇÃO
							ul.sub-menu
								li
									a(href="#") Culto da Família
								li
									a(href="#") Culto de Oração
								li
									a(href="#") Culto dos Jovens
								li
									a(href="#") Culto da Colheita
								li
									a(href="#") Culto de Missões
								li
									a(href="#") Cultos Temáticos
								li.all
									a(href="#") Toda a Programação
						li
							a(href="#") GALERIAS
						li
							a(href="#") Notícias
						li
							a(href="#") Fale Conosco
	section#banner-home
		.gridD
			article.bannerLeft
				.txt
					.btnPlay
					p Assista 
						strong Ao Vivo 
						| Agora
			article.bannerRight.top
				.txt
					p Todos as Quintas as 20:00
			article.bannerRight.bottom
				.txt
					p Todo Domingo as 18:00
	section#ultimos-videos
		.gridD
			.titleSec
				h2 Últimos Vídeos
			.videos
				article
					.txt
						.btnPlay
						p Arquidiocese celebra 
							br
							| aniversário do Cristo Redentor
						span 13 de Outubro de 2016
				article
					.txt
						.btnPlay
						p Arquidiocese celebra 
							br
							| aniversário do Cristo Redentor
						span 13 de Outubro de 2016
				article
					.txt
						.btnPlay
						p Arquidiocese celebra 
							br
							| aniversário do Cristo Redentor
						span 13 de Outubro de 2016
				article
					.txt
						.btnPlay
						p Arquidiocese celebra 
							br
							| aniversário do Cristo Redentor
						span 13 de Outubro de 2016
				article
					.txt
						.btnPlay
						p Arquidiocese celebra 
							br
							| aniversário do Cristo Redentor
						span 13 de Outubro de 2016
				article
					.txt
						.btnPlay
						p Arquidiocese celebra 
							br
							| aniversário do Cristo Redentor
						span 13 de Outubro de 2016
				.clearfix
				.btnVerMais
					a(href="#") Todos os Vídeos
	section#ultimas-fotos
		.gridD
			.titleSec
				h2 Ultimas Fotos
			.fotos
				.foto
					.image
					.txt
						p Encontro de Jovens
						span EM 12/10/2016
				.foto
					.image
					.txt
						p Culto da Colheita
						span EM 12/10/2016
				.foto
					.image
					.txt
						p Culto da Família
						span EM 12/10/2016
				.foto
					.image
					.txt
						p Culto de Aniversário 65 Anos OBPC
						span EM 12/10/2016
				.foto
					.image
					.txt
						p Culto de Oração
						span EM 12/10/2016
				.foto
					.image
					.txt
						p Culto dos Jovens
						span EM 12/10/2016
				.clearfix
				.btnVerMais
					a(href="#") Todas as Fotos
	section#ao-vivo
		.gridD
			.titleSec
				h2 Assista nosos Cultos Ao Vivo
			.lives
				.live.facebook-live
					a(href="#")
				.live.youtube-live
					a(href="#")

include ./includes/footer.jade
include ./includes/foot.jade