footer
	.gridD
		nav#menu-footer
			ul
				li
					a(href="#") A obra obpc
					ul.sub-menu
						li
							a(href="#") Pastores
				li
					a(href="#") Programação
					ul.sub-menu
						li
							a(href="#") Culto da Família
						li
							a(href="#") Culto de Oração
						li
							a(href="#") Culto dos Jovens
						li
							a(href="#") Culto da Colheita
						li
							a(href="#") Culto de Missões
						li
							a(href="#") Culto Temáticos
						li.all
							a(href="#") Toda Programação
				li
					a(href="#") Pedidos de Oração
					ul.sub-menu
						li
							a(href="#") Galeria
						li
							a(href="#") Notícias
						li
							a(href="#") Bíblia Digital
						li
							a(href="#") Fale Conosco